<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Marketplace</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav>
        <h1>⚡ API Marketplace</h1>

        <div>
            <button class="login">Login</button>
            <button class="register">Register</button>
        </div>
    </nav>

    <section class="hero">
        <h2>Discover & Subscribe to <span>Powerful APIs</span></h2>
        <p>Browse APIs, subscribe instantly, and start building today.</p>

        <button class="start-btn">Get Started Free</button>
    </section>

    <section class="apis">
        <h2>Available APIs</h2>

        <div class="card">
            <span class="tag">REST API</span>

            <h3>Weather API</h3>

            <p>Real time weather data for any city</p>

            <small>by Test User</small>

            <h4>₹99/month</h4>

            <button>Login to Subscribe</button>
        </div>
    </section>

</body>
</html>